body {
}

td {
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}



.rover-north, .rover-east, .rover-south, .rover-west {
    background-size: 100%;
    background: url("Images/Space-Invaders-North.png") no-repeat center center;
}


.rover-east {
    background: url("Images/Space-Invaders-East.png") no-repeat center;
}

.rover-south {
    background: url("Images/Space-Invaders-South.png") no-repeat center;
}

.rover-west {
    background: url("Images/Space-Invaders-West.png") no-repeat center;
}

.obstruction {
    background-color: black;
}